<!doctype html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<p>Employed student info:</p>
<ul>
  <li>
    email: {{email}}
  </li>
  <li>
    tel : {{tel}}
  </li>
  <li>
    First Name: {{firstName}}
  </li>
  <li>
    Last Name: {{lastName}}
  </li>
  <li>
    githubUsername: {{githubUsername}}
  </li>
</ul>
</body>
</html>