<!doctype html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<p>Dane kursanta:</p>
<ul>
  <li>
    email: {{email}}
  </li>
  <li>
    First Name: {{firstName}}
  </li>
  <li>
    Last Name: {{lastName}}
  </li>
</ul>
<p>Dane Hr:</p>
<ul>
  <li>
    email: {{hrEmail}}
  </li>
  <li>
    First Name: {{hrFirstName}}
  </li>
  <li>
    Last Name: {{hrLastName}}
  </li>
  <li>
    Company name: {{company}}
  </li>
</ul>
</body>
</html>